asgiref==3.11.1
cffi==2.0.0
cryptography==48.0.0
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
et_xmlfile==2.0.0
gunicorn==23.0.0
numpy==2.4.6
openpyxl==3.1.5
pandas==3.0.3
pycparser==3.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==2.0.50
sqlparse==0.5.5
typing_extensions==4.15.0
